@import "../../variables";

.svg-spinner {
    animation: rotate .5s infinite linear;
    color: $purple;
}

@keyframes rotate {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(1turn)
    }
}