@import "../../variables";

.card_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: max-height 500ms ease-in-out;
    max-height: 0;
    overflow: hidden;
    position: fixed;
    bottom: 5vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99999999999999999;

    &.show {
        max-height: 20rem;
    }

    .feedback_card {
        background: $purple;
        padding: 1rem 1.5rem;
        margin: 0.3rem 1rem;
        border-radius: 16px;
        opacity: 1;
        text-align: center;
        font-size: 1rem;
        font-weight: 500;
        color: white;
        border: 2px solid $grey;

        &:hover {
            cursor: pointer;
        }

        &.success {
            background-color: $success;
        }

        &.error {
            background-color: $red;
        }
    }
}