@import "../../_variables.scss";

.container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 100%;
    position: relative;

    @media (min-width: 40rem) {
        padding: 4rem;
    }

    hr {
        margin: 3rem auto;
        border-style: none;
        border-color: $grey;
        border-width: 2px;
        border-top-style: solid;
        width: 100%;
    }

    &__loader {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    &__comments {
        display: flex;
        width: 100%;
        gap: 2rem;
        flex-direction: column;
    }
}